*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.container {
    /*height: 100vh;*/
    width: 90%;
    margin: 0 auto;
}

header {
    position: fixed;
    left: calc(50% - 50vw);
    width: 100vw;
    min-height: 6rem;
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    min-height: 6rem;
    margin: 0 auto;
}

.desktop-nav-menu {
    display: none;
}

.burger-menu-button {
    background-color: unset;
    border: none;
}

.burger-menu-button img {
    width: 32px;
}

/* HERO */

.hero-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/mobile/image-hero.jpg');
    background-size: cover;
    left: calc(50% - 50vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: #FFF;
    text-transform: uppercase;
    /*width: 90%;*/
    max-width: 400px;
    font-size: 3rem;
    padding: 1.5rem;
    border: 5px solid #FFF;
}

/*
INTERACTIVE VR
*/

.text-block-container,
.creations-container {
    margin: 6rem 0;
}

.text-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-block-container img {
    width: 100%;
    max-width: 600px;
}

.title-t1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    text-align: center;
}

.text-t1 {
    font-size: 1rem;
}

.text-block {
    text-align: center;
    padding: 3rem;
    background-color: #FFFFFF;
    max-width: 450px;
}

/*
CREATIONS
*/

.creations-list {
    list-style: none;
    display: grid;
    gap: 1.5rem;
}

.creations-item {
    position: relative;
}

.creations-item img {
    width: 100%;
}

.gradient-background {
    background: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
}

.creations-item span {
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
}

.title-t2 {
    color: #FFF;
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 40%;
}

.btn-v1 {
    width: 200px;
    height: 42px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #000000;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    margin: 0 auto;
}

/*
FOOTER
*/

footer {
    background-color: #000000;
    position: relative;
    width: 100vw;
    left: calc(50% - 50vw);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.footer-list li {
    margin: 1rem 0;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.socials {
    display:flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
}

/*
MOBILE MENU
*/

.mobile-menu {
    position: absolute;
    left: 0;
    background-color: #000000;
    color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    align-items: center;
    padding: 10%;
    transition: .3s ease;
}

.disabled {
    top: -100vh;
}

.active {
    top: 0;
}

.mobile-nav-list {
    list-style: none;
}

.mobile-nav-item {
    text-align: left;
    margin: 2rem 0;
}

/*
MEDIA QUERIES
*/

@media (min-width: 720px) {
    
    .mobile-nav-menu {
        display: none;
    }

    .desktop-nav-menu {
        display: flex;
    }

    .desktop-nav-list {
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
        list-style: none;
        width: 350px;
    }

    .desktop-nav-item {
        text-transform: capitalize;
        font-weight: bold;
    }

    /*
    HERO
    */

    .hero-container {
        background-image: url('./images/desktop/image-hero.jpg');
        background-size: cover;
        background-position: center;
        justify-content: left;
        padding-left: 4rem;
    }

}

.creations-mobile-photo {
    display: initial;
}

.creations-desktop-photo {
    display: none;
}

@media (min-width: 920px) {

    .text-block-container {
        max-height: 420px;
    }

    .text-block-container img {
        position: relative;
        right: 150px;
    }

    .text-block {
        position: relative;
        bottom: 250px;
        left: 250px;
    }

    .text-block h2,
    .text-block p {
        text-align: left;
    }

    /*
    CREATIONS
    */

    .creations-list {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .creations-mobile-photo {
        display: none;
    }
    
    .creations-desktop-photo {
        display: initial;
    }

    .creations-list h2 {
        grid-column: span 2;
        text-align: left;
    }

    .creations-list button {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        margin-right: 0;
    }

    .title-t2 {
        width: 60%;
    }

    /*
    FOOTER
    */

    footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5%;
    }

    .footer-list {
        flex-direction: row;
    }

    .footer-list li {
        margin-top: 2rem;
    }

    .footer-list {
        width: 400px;
        justify-content: space-between;
    }
    
    .socials,
    .footer-list {
        margin: 0;
    }

    .socials {
        justify-content: right;
        margin-top: .5rem;
        margin-bottom: 2.5rem;
    }

}